p {
  margin: 1em;
}

body {
  width: 800px;
  margin: 0 auto;
}

.step {
  border: 1px solid;
  margin: 2em 0;
}

.step h3 {
  margin: 1em;
}

#step2 {
  display: none;
}

.spacer {
  height: 40em;
}

#step3 {
  margin-bottom: 20em;
}

#step4 {
  border: 1px solid white;
}
#step4 span {
  color: white;
}
